body {
	height: 100%;
	width: 100%;
	display: flex;
	overflow: hidden;
	font-family: sans-serif;
}
angle{
	color: white;
}
tag{
	color: #FC1F70;
}
content{
	color: white;
}
sky {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -90;
	animation: sky 30s linear infinite;
}
@keyframes sky {
	0% {background:#7EC7E0;}
	25% {background:#7EC7E0;}
	50% {background:#20373F;}
	75% {background:#20373F;}
	100% {background:#7EC7E0;}
}

moon {
	width: 11em;
	height: 11em;
	z-index: -60;
	background-color: #F1F1F1;
	box-shadow: 0 0 5px 8px #F1F1F1;
	position: absolute;
	border-radius: 50%;
	left: -5%;
	top: 30%;
	animation: DAY-NIGHT 30s linear infinite;
	animation-delay: 15s;
	visibility: hidden;
}
@keyframes DAY-NIGHT {
    0% {
        -webkit-transform:translate(40em, 40em) rotate(0deg) translate(-40em, -40em) rotate(0deg); visibility:visible;
    }  
  13% {
        -webkit-transform:translate(40em, 40em) rotate(45deg) translate(-40em, -40em) rotate(-45deg);
  }
  25% {
      -webkit-transform:translate(40em, 40em) rotate(90deg) translate(-40em, -40em) rotate(-90deg);
  }
  38% {
      -webkit-transform:translate(40em, 40em) rotate(135deg) translate(-40em, -40em) rotate(0deg);
  }
  50% {
      -webkit-transform:translate(40em, 40em) rotate(180deg) translate(-40em, -40em) rotate(-180deg);
  }
  63% {
      -webkit-transform:translate(40em, 40em) rotate(225deg) translate(-40em, -40em) rotate(225deg);
  }
  75% {
      -webkit-transform:translate(40em, 40em) rotate(270deg) translate(-40em, -40em) rotate(-270deg);
  }
  88% {
      -webkit-transform:translate(40em, 40em) rotate(315deg) translate(-40em, -40em) rotate(315deg);
  }
    100% {
        -webkit-transform:translate(40em, 40em) rotate(360deg) translate(-40em, -40em) rotate(-360deg);
    }
}
sun {
	width: 14em;
	height: 14em;
	z-index: -60;
	position: absolute;
	border-radius: 50%;
	background-color: yellow;
	left: -5%;
	top: 15%;
	box-shadow: 0 0 60px 30px yellow;
	animation: NIGHT-DAY 30s linear infinite;
}
@keyframes NIGHT-DAY {
    0% {
        -webkit-transform:translate(40em, 40em) rotate(0deg) translate(-40em, -40em) rotate(0deg);
    }  
  13% {
        -webkit-transform:translate(40em, 40em) rotate(45deg) translate(-40em, -40em) rotate(-45deg);
  }
  25% {
      -webkit-transform:translate(40em, 40em) rotate(90deg) translate(-40em, -40em) rotate(-90deg);
  }
  38% {
      -webkit-transform:translate(40em, 40em) rotate(135deg) translate(-40em, -40em) rotate(0deg);
  }
  50% {
      -webkit-transform:translate(40em, 40em) rotate(180deg) translate(-40em, -40em) rotate(-180deg);
  }
  63% {
      -webkit-transform:translate(40em, 40em) rotate(225deg) translate(-40em, -40em) rotate(225deg);
  }
  75% {
      -webkit-transform:translate(40em, 40em) rotate(270deg) translate(-40em, -40em) rotate(-270deg);
  }
  88% {
      -webkit-transform:translate(40em, 40em) rotate(315deg) translate(-40em, -40em) rotate(315deg);
  }
    100% {
        -webkit-transform:translate(40em, 40em) rotate(360deg) translate(-40em, -40em) rotate(-360deg);
    }
}

.star{
	width: .25em;
	height: .25em;
	border-radius: 50%;
	z-index: -100;
	position: absolute;
	background: white;
	animation: stars 30s ease-out infinite;
}
@keyframes stars {
	0% { opacity: 0; }
	25% { opacity: 0; }
	50% { opacity: 1; }
	75% { opacity: 1; }
	100% { opacity: 0; }
}
#star1 {
	left: 5%;
	top: 2%;
}
#star2 {
	left: 7%;
	top: 8%;
}
#star3 {
	left: 15%;
	top: 3%;
}
#star4 {
	left: 14%;
	top: 20%;	
}
#star5 {
	left: 20%;
	top: 7%;	
}
#star6 {
	left: 22%;
	top: 26%;	
}
#star7 {
	left: 26%;
	top: 14%;	
}
#star8 {
	left: 37%;
	top: 10%;	
}
#star9 {
	left: 42%;
	top: 33%;
}
#star10 {
	left: 50%;
	top: 20%;
}
#star11 {
	left: 52%;
	top: 22%;
}
#star12 {
	left: 57%;
	top: 3%;
}
#star13 {
	left: 60%;
	top: 8%;
}
#star14 {
	left: 74%;
	top: 24%;
}
#star15 {
	left: 78%;
	top: 13%;
}
#star16 {
	left: 84%;
	top: 3%;
}
#star17 {
	left: 87%;
	top: 19%;
}
#star18 {
	left:94%;
	top: 30%;
}

#ground {
	width: 100%;
	height: 45em;
	-webkit-clip-path: polygon(5% 70%, 11% 72%, 20% 74%, 28% 70%, 48% 67%, 65% 70%, 82% 64%, 100% 67%, 100% 100%, 15% 100%, 0 100%, 0 69%);
	clip-path: polygon(5% 70%, 11% 72%, 20% 74%, 28% 70%, 48% 67%, 65% 70%, 82% 64%, 100% 67%, 100% 100%, 15% 100%, 0 100%, 0 69%);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -50;
	animation: ground 30s linear infinite;
}
@keyframes ground {
	0% {background:#005F00;}
	25% {background:#005F00;}
	50% {background:#003300;}
	75% {background:#003300;}
	100% {background:#005F00;}
}

#g-highlight1 {
	background: #034000;
	-webkit-clip-path: polygon(0 0, 0 100%, 0 69%, 11% 72%, 55% 0, 68% 50%, 82% 0, 0 0);
	clip-path: polygon(0 0, 0 100%, 0 69%, 11% 72%, 55% 0, 68% 50%, 82% 0, 0 0);
	z-index: 5;
	width: 100%;
	height: 18em;
	position: absolute;
	bottom: 0;
	left: 0;
}

#trunk1 {
	z-index: 20;
	width: 30em;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-clip-path: polygon(40% 0, 38% 52%, 40% 100%, 0 100%, 0 46%, 0 0);
	clip-path: polygon(40% 0, 38% 52%, 40% 100%, 0 100%, 0 46%, 0 0);
	animation: tree 30s linear infinite;
}
@keyframes tree {
	0% {background: #563C13;}
	25% {background: #563C13;}
	50% {background: #38280D;}
	75% {background: #38280D;}
	100% {background: #563C13;}
}
.detail{
	background: #2E1F07;
	z-index: 25;
	height: 100%;
	width: .1em;
	position: absolute;
}
#tunk1-detail1 {
	left: 0;
}
#trunk1-detail2 {
	left: 5%;
}
#trunk1-detail3 {
	left: 15%;
}
#trunk1-detail4 {
	left: 25%;
}
#trunk1-detail5 {
	left: 35%;
}

#trunk2 {
	z-index: 20;
	width: 20em;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	-webkit-clip-path: polygon(58% 0, 100% 0, 100% 100%, 57% 100%, 61% 57%, 60% 18%);
	clip-path: polygon(58% 0, 100% 0, 100% 100%, 57% 100%, 61% 57%, 60% 18%);
	animation: tree 30s linear infinite;
}
#tunk2-detail1 {
	right: 5%;
}
#trunk2-detail2 {
	right: 15%;
}
#trunk2-detail3 {
	right: 30%;
}
#branch {
	z-index: 15;
	width: 80em;
	height: 20em;
	position: absolute;
	transform: rotate(15deg);
	bottom: 28em;
	right: 3em;
	-webkit-clip-path: polygon(100% 53%, 75% 28%, 38% 0, 22% 0, 74% 41%, 100% 78%);
	clip-path: polygon(100% 53%, 75% 28%, 38% 0, 22% 0, 74% 41%, 100% 78%);
	animation: branch 30s linear infinite;
}
@keyframes branch {
	0% {background: #4F3710;}
	25% {background: #4F3710;}
	50% {background: #352408;}
	75% {background: #352408;}
	100% {background: #4F3710;}
}
.leaf-wrap{
	height: 8em;
	width: 8em;
	position: absolute;
	bottom: 28em;
	right: 26.4em;
	transform: rotate(50deg);
}
.leaf-select {
	height: 8em;
	width: 8em;
	position: absolute;
	bottom: 28em;
	right: 26.4em;
	transform: rotate(50deg);
	animation: leaf-click .5s linear;
	-webkit-animation: leaf-click .3s linear;
}
.leaf{
	height: 8em;
	width: 8em;
	position: absolute;
	z-index: 17;
	-webkit-clip-path: polygon(46% 0, 71% 9%, 81% 27%, 80% 54%, 70% 74%, 50% 100%, 26% 79%, 11% 58%, 9% 34%, 22% 10%);
	clip-path: polygon(46% 0, 71% 9%, 81% 27%, 80% 54%, 70% 74%, 50% 100%, 26% 79%, 11% 58%, 9% 34%, 22% 10%);
	animation: leaf-color 30s linear infinite;
	cursor: pointer;
	cursor: hand;
}
.leaf-text{
	transform: rotate(-90deg);
	position: absolute;
	top: 1.65em;
	left: .6em;
	font-size: 1.75em;
	color: #2BAC00;
	cursor: pointer;
	cursor: hand;
	font-family: 'Inconsolata', sans-serif;
}
.download a{
	text-decoration: none;
	transform: rotate(-90deg);
	position: absolute;
	top: 1.65em;
	left: 1em;
	font-size: 1.75em;
	color: #CCB800;
	font-family: 'Inconsolata', sans-serif;
	text-shadow: 0px 0px 15px #CCB800;
}
.leaf-stem {
	height: 3em;
	width: 3em;
	position: absolute;
	z-index: 16;
	bottom: 34.75em;
	right: 26em;
	-webkit-clip-path: polygon(55% 22%, 54% 56%, 46% 80%, 39% 100%, 30% 100%, 44% 58%, 45% 29%);
	clip-path: polygon(55% 22%, 54% 56%, 46% 80%, 39% 100%, 30% 100%, 44% 58%, 45% 29%);
	animation: leaf-color 30s linear infinite;
}
@keyframes leaf-color {
	0% {background: #227600}
	25% {background: #227600}
	50% {background: #134E00}
	75% {background: #134E00}
	100% {background: #227600}
}
@keyframes leaf-click {
	0% {bottom: 27.95em; right: 26.3em;}
	25% {bottom: 28.05em; right: 26.5em;}
	50% {bottom: 27.95em; right: 26.3em;}
	75% {bottom: 28.05em; right: 26.5em;}
	100%{bottom: 28em; right: 26.4em;}
}
/*@keyframes leaf-click {
	0% {transform: rotate(55deg);}
	20% {transform: rotate(45deg);}
	40% {transform: rotate(56deg);}
	60% {transform: rotate(47deg);}
	80% {rtransform: rotate(53deg);}
	100% {transform: rotate(50deg);}
}*/
#fire-text{
	position: relative;
	left: 46%;
	top: 22.5em;
	z-index: 15;
	font-size: 1.25em;
	letter-spacing: 0;
	color: yellow;
	text-shadow: 0 0 3px orange;
	cursor: pointer;
	cursor: hand;
	font-family: sans-serif;
}
#fire-back{
	position: absolute;
	left: 24.25em;
	top: 20em;
	z-index: 51;
	cursor: pointer;
	cursor: hand;
	font-size: 1.5em;
	color: yellow;
	text-shadow: 0 0 3px orange;
}
#fire{
	position: relative;
	height: 4em;
	width: 4em;
	left: 35em;
	top: 30em;
	z-index: 50;
	cursor: pointer;
	cursor: hand;
}
#fire1 {
	height: 2em;
	width: 1.5em;
	position: absolute;
	left: 1.3em;
	top: 20%;
	z-index: 15;
	-webkit-clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	animation: fire 3s step-start infinite;
}
#fire2 {
	background: red;
	height: 1.5em;
	width: 1em;
	position: absolute;
	left: 1.1em;
	top: 25%;
	z-index: 14;
	-webkit-clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	animation: fire 3s 1s step-start infinite;
}
#fire3 {
	background: red;
	height: 1.5em;
	width: 1em;
	position: absolute;
	left: 2em;
	top: 25%;
	z-index: 14;
	-webkit-clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	animation: fire 3s 1s step-start infinite;
}
#fire4 {
	background: yellow;
	height: 1em;
	width: .5em;
	position: absolute;
	left: 1em;
	top: 45%;
	z-index: 16;
	-webkit-clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	animation: fire 3s 2s step-start infinite;
}
#fire5 {
	background: yellow;
	height: 1em;
	width: .5em;
	position: absolute;
	left: 2.57em;
	top: 45%;
	z-index: 16;
	-webkit-clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	animation: fire 3s 2s step-start infinite;
}
#fire6 {
	background: red;
	height: 1em;
	width: .75em;
	position: absolute;
	left: 1.7em;
	top: 48%;
	z-index: 17;
	-webkit-clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0 100%, 100% 100%);
	animation: fire 3s 1s step-start infinite;
}
#log {
	width: 3em;
	height: .75em;
	position: absolute;
	left: .5em;
	top: 60.3%;
	z-index: 18;
	border-radius: 2px;
	animation: tree 30s linear infinite;
}
@keyframes fire {
	0% {background: red; box-shadow: 0 0 2px 2px red;}
	16% {background: orange; box-shadow: 0 0 2px 2px orange;}
	33% {background: yellow; box-shadow: 0 0 2px 2px yellow;}
	50% {background: red; box-shadow: 0 0 2px 2px red;}
	66% {background: orange; box-shadow: 0 0 2px 2px orange;}
	82% {background: yellow; box-shadow: 0 0 2px 2px yellow;}
	100% {background: red; box-shadow: 0 0 2px 2px red;}
}
#social{
	left: 13em;
	top: 12em;
	position: absolute;
	display: inline;
	visibility: hidden;
	opacity: 0;
	z-index: 49;
	color: white;
	font-size: 1.6vw;
}
#social ul{
	padding-top: 0;
	padding-left: 3vw;
	margin-top: 0;
	line-height: 4vw;
	list-style: none;
	text-align: left
}
#social li{
	display: inline;
	list-style: none;
}
#social a{
	list-style: none;
	color: white;
	text-align: center;
	font-size: 2.5vw;
}
#social a:link{
	text-decoration: none;
	transition-duration: .4s;
}
#social a:hover{
	font-size: 3vw;
}
#building-text {
	z-index: -60;
	position: absolute;
	top: 37.5%;
	right: 20.7%;
	font-size: 2em;
	letter-spacing: .3em;
	color: #FFFC4D;
	text-shadow: 0 0 3px #FFFC4D;
	cursor: pointer;
	cursor: hand;
	font-family: 'Inconsolata', sans-serif;
}
#building {
	z-index: -60;
	height: 15em;
	width: 10em;
	background: darkgrey;
	position: absolute;
	padding: 1% 1% 1% 1%;
	top: 45%;
	right: 22%;
	text-align: center;
	cursor: pointer;
	cursor: hand;
	text-align: center;
}
#antenna {
	z-index: -61;
	height: 5em;
	width: .25em;
	background: darkgrey;
	position: absolute;
	top: 30.5%;
	right: 29.1%;
	border-bottom: solid grey;
}
#antenna-light {
	z-index: -60;
	height: .25em;
	width: .25em;
	position: absolute;
	top: 30.5%;
	right: 29.1%;
	animation: light 1s step-end infinite;
}
@keyframes light {
	0% {background: red; box-shadow: 0 0 5px 2px red;}
	50% {background: grey; box-shadow: none;}
	100% {background: red; box-shadow: 0 0 5px 2px red;}
}
#antenna-base {
	z-index: -60;
	height: .5em;
	width: 2em;
	background: darkgrey;
	position: absolute;
	top: 43.4%;
	right: 28%;
	border-bottom: solid grey;
}
.project li{
	list-style: none;
	font-size: 1.5em;
	color: #FFFC4D;
	text-shadow: 0 0 0 10px #FFFC4D;
	margin-bottom: 1em;
}
.project a{
	font-size: 2em;
	text-decoration: none;
	color: #FFFC4D;
	text-shadow: 0 0 10px #FFFC4D;
	font-family: 'Inconsolata', sans-serif;
}
#building-back {
	position: absolute;
	top: 20em;
	right: 19em;
	color: #FFFC4D;
	font-size: 1.75em;
	display: block;
	text-shadow: 0 0 10px #FFFC4D;
	font-family: 'Inconsolata', sans-serif;
	cursor: pointer;
	cursor: hand;
}
.window {
	width: 10%;
	height: 12%;
	border: solid 2px grey;
	margin: 4% .75% 2% .75%;
	display: inline-block;
	animation: window 30s step-end infinite;
}
#dark {
	background: black;
	animation: none;
}
.set1 {
	background: black;
	animation: window 30s 3s step-end infinite;
}
.set2 {
	background: black;
	animation: window 30s 4s step-end infinite;
}
@keyframes window {
	0% {background: black;}
	25% {background: #FFFC4D;}
	70% {background: black;}
	100% {background: black;}
}
#board {
	background: #272822;
	height: 14em;
	width: 21em;
	z-index: -55;
	position: absolute;
	left: 12.5em;
	top: 12em;
	border: solid .15em grey;
	border-bottom: solid .75em grey;
	text-align: left;
	vertical-align: middle;
	padding: 0 1em 0 1em;
	display: inline-block;
}
#board h1{
	font-size: 1.7em;
	margin-top: .25em;
	font-family: 'Inconsolata', sans-serif;
}
#support {
	background: darkgrey;
	height: 5em;
	width: .5em;
	z-index: -56;
	position: absolute;
	left: 15em;
	top: 25.5em;
}
